<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="EFDataModelEntities" connectionString="metadata=res://*/EFDataModel.csdl|res://*/EFDataModel.ssdl|res://*/EFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WORKSTATION\SQLEXPRESS;Initial Catalog=EFDataModel;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>